<div [hidden]="user">
  <h1>Sign In with Your Phone Number</h1>

  <label for="phone">Phone Number</label><br>

  <input type="text" [(ngModel)]="phoneNumber.country" class="input" placeholder="54" maxlength="2">
  <input type="text" [(ngModel)]="phoneNumber.area" class="input" placeholder="0341" maxlength="4">
  <input type="text" [(ngModel)]="phoneNumber.prefix" class="input" placeholder="153" maxlength="3">
  <input type="text" [(ngModel)]="phoneNumber.line" class="input" placeholder="5555555" maxlength="6">


  <div id="captcha"></div>

  <button (click)="SignInWithPhoneNumber()">SMS Text Login Code</button>

</div>
